# ~/Desktop/RVIZ2-MAP.desktop
# chmod +x ~/Desktop/RVIZ2-MAP.desktop
[Desktop Entry]
Type=Application
Name=RVIZ2 - MAP
Comment=Open rviz2 with the Avalue Config
Exec=gnome-terminal -- bash -c "/home/renity_admin/ros2_humble_amr_avalue/reference/run_rviz2_map.sh; echo; echo '=== Press Enter to Close ==='; read"
Terminal=false
Icon=rviz
Categories=Development;Robotics;