# ~/Desktop/SaveMAP.desktop
# chmod +x ~/Desktop/SaveMAP.desktop
[Desktop Entry]
Type=Application
Name=Save MAP
Comment=Launch wheeltec_nav2 save_map
Exec=gnome-terminal -- bash -c "/home/renity_admin/ros2_humble_amr_avalue/reference/run_save_map.sh; echo ''; echo '=== Press Enter to Close ==='; read"
Terminal=false
Icon=utilities-terminal
Categories=Development;Robotics;
